.itemBox {
    &,
    & .pic,
    & .pic img {
        position: relative;
    }

    .pic,
    .pic img {
        z-index:-1 \9;
    }

    .txt {
        position: absolute;

        a {
            text-decoration: none;
            @include pie-clearfix;
        }


        p, h3, span {
            position: absolute;
            overflow:hidden;
        }

        span { font-family: arial; }
    }

    //立即購買 按鈕
    .buyNow {
        position: absolute;
        display: block;
        text-align: center;
        cursor:pointer;

        &.arrows:before {
            position: absolute;
            display: block;
            content: "";
        }
    }

    //加入購物車按鈕
    .addCart {
        position:absolute;
        z-index:2 \9;
        overflow:hidden;
        background-repeat:  no-repeat;
    }


}
