.wrapper {
    background-position: center 60px;
    background-repeat: no-repeat;
    overflow-x:hidden;
}

.mainPadding .mainMenuArea {
    margin:0 0 0 15px;
}

.content {
  position: relative;
  width:100%;
  height:auto;

  & > div {
      margin:0 auto;
      width:100%;
      min-width:$min-w#{px};
      max-width:$max-w#{px};
      overflow:hidden;
  }
}

.mainFocus,
.focusContent {
    position: relative;
}

.mainFocus {
    background-position: center -175px;
    background-repeat: no-repeat;
}

.focusContent {
  margin:0 auto;
  height: 100%;
  width: $min-w#{px};
}

.prods {
  position: relative;
  margin:0 auto;
  z-index:1000 \9;
}

.sp_content {
    width: 100%;
    height: auto;
    & > div {
        position: relative;
        width: $min-w#{px};
        min-width: $min-w#{px};
        height: 100%;
        margin:0 auto;
    }
}
