.notice {
    position: relative;
    width:100%;
    min-width: $min-w#{px};
    height:auto;
    padding:60px 0;
}

.noticeWrap {
    margin:0 auto;
    width: $min-w#{px};
    min-width: $min-w#{px};
    height:auto;

    p a { text-decoration: none; }

    ol {
        margin-left:0;
        padding-left: 25px;
    }

    ol li {
        margin: 5px 0;
        line-height: 20px;
        letter-spacing: 0.5px;
    }
}
